<!DOCTYPE html>
<html lang="en">

<head>
    <title>Product Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    {% load static %}
    <script src="{% static 'fun.js' %}" type="text/javascript"></script>

    {% load static %}
    <link href="{% static 'navbar.css' %}" rel="stylesheet">






</head>

<body>
    <div style="display: flex;">


        <div style="padding-left: 900px;
    padding-top: 50px;
    display: flex;">
            <div style="padding-right: 20px;">
                <a style="text-decoration:none;font-size: 30px;" href="adminprofile"> Admin </a>
            </div>


            <div style="padding-right: 20px;">

                <a style="text-decoration:none;font-size: 30px;" href="addproduct">Add Product</a>
            </div>
            <div style="padding-right: 20px;">
                <a style="text-decoration:none;font-size: 30px;color: black;" href="adminhistory"> Sell History </a>
            </div>



            <div style="padding-right: 20px;">
                <a style="text-decoration:none;font-size: 30px;" href="/">Logout</a>
            </div>
        </div>
    </div>
    <!-- middle content -->

    <div>
        <center>
            <table
                style="font-size:x-large; border: 3px solid purple;border-radius: 20px;margin: 100px;padding: 100px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">


                <th> &nbsp &nbsp &nbspProduct ID &nbsp &nbsp &nbsp</th>
                <th> Product Name &nbsp &nbsp &nbsp</th>
                <th> Brand Name &nbsp &nbsp &nbsp</th>
                <th> Amount(per piece) &nbsp &nbsp &nbsp</th>
                <th> Available &nbsp &nbsp &nbsp</th>
                <th> Quantity &nbsp &nbsp &nbsp</th>

                {% for i in rec %}

                <tr>
                    <td>
                        &nbsp &nbsp &nbsp {{i.0}}
                    </td>

                    <td>
                        {{i.1}}
                    </td>
                    <td>
                        {{i.2}}
                    </td>
                    <td>
                        {{i.3}}
                    </td>
                    <td>
                        {{i.4}}
                    </td>
                    <td>
                        {{i.5}}
                    </td>
                    

                     <td style="padding-bottom: 20px;">
                        <a style="text-decoration: none;" href="delete?sid={{i.0}}">Delete History</a>
                    </td>


                </tr>
                


                {% endfor %}
                
            </table>


        </center>
    </div>



    <!-- end middle content -->






</body>

</html>