<!DOCTYPE html>
<html lang="en">
<head>
  <title>Product Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity=
"sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
        crossorigin="anonymous">

    {% load static %}
    <script src="{% static 'fun.js' %}" type="text/javascript"></script>

    {% load static %}
    <link href="{% static 'navbar.css' %}" rel="stylesheet">
    
    {% load static %}
    <script src="{% static 'validation.js' %}" type="text/javascript"></script>

    {% load static %}
    <script src="{% static 'captcha.js' %}" type="text/javascript"></script>

    {% load static %}
    <link href="{% static 'footer.css' %}" rel="stylesheet">


</head>
<body onload="generate()">


        
       
       
<!-- this is middle content -->

{% load static %}
<script src="{% static 'validation.js' %}" type="text/javascript"></script>
<div>
  
    <div style="position: absolute;right:300px;top:100px;border: 3px solid purple;padding: 40px;border-radius: 20px;" >
    <form name="f1" action="/regTask" method="post" onsubmit="return validation();">
      <center>
        <h2 style="padding-bottom: 30px;color: purple;">User Registration Form</h2></center>
        <table align="center" >
        <tr>
        <td style="padding:10px;color: purple;"> Enter Name </td>
        <td><input style="margin:10px;" type="text" name="name"><div style="color:red" id="nm"></div> </td>
        </tr>
        <tr>
        <td style="padding:10px;color: purple;"> Enter Father Name </td>
        <td><input style="margin:10px;" type="text" name="fname"><div style="color:red" id="fnm"></div>  </td>
        </tr>
    
        <tr>
        <td style="padding:10px;color: purple;"> Enter Mobile Number </td>
        <td><input style="margin:10px;" type="text" name="mob"> <div style="color:red" id="mob"></div> </td>
        </tr>
    
        <tr>
        <td style="padding:10px;color: purple;"> Enter Email </td>
        <td><input style="margin:10px;" type="email" name="email"> <div style="color:red" id="eemail"></div> </td>
        </tr>
    
        <tr>
        <td style="padding:10px;color: purple;"> Enter Password </td>
        <td><input style="margin:10px;" type="password" name="pass"> <div style="color:red" id="pass1"></div>  </td>
        </tr>
    
        <tr>
        <td style="padding:10px;color: purple;"> Confirm password </td>
        <td><input style="margin:10px;" type="password" name="cpass">  <div style="color:red" id="pass2"></div> </td>
        </tr>

        <tr>
          
          <td style="padding:10px;color: purple;">
            <center>
          <input style="margin:10px;" type="radio" name="gender" value="male"> <div style="color:purple">male</div> </center></td>
          <td style="padding:10px;color: purple;">
            <center>
            <input style="margin:10px;" type="radio" name="gender" value="female"> <div style="color:purple">Female</div></center> </td>
           
            
          </tr>
        <!-- captcha -->
        {% load static %}
<script src="{% static 'captcha.js' %}" type="text/javascript"></script>
        
        <tr>
          
           <td colspan="2">
            <center>
            <div id="user-input" class="inline">
            <input  style="margin:10px;color: purple;" id="submit" type="text" name="cap" placeholder="enter captcha code"></div>
            
            <div class="inline" onclick="generate()">
              <i class="fas fa-sync"></i>
          </div>
       
          <div style="border: 2px solid purple;padding: 5px;border-radius:10px ;font-size: 20px;width: 100px;" id="image" class="inline" selectable="False">
          </div>
            <input style="color: white; background-color:purple;font-size: 20px;border-radius: 5px;margin-top: 5px;" type="submit" value="confirm captcha" id="btn" onclick="printmsg()">
            <p id="key"></p>
            </center>
           </td>
        </tr>
        
    
        <tr>
        <td><center><input style="margin:10px;font-size: 30px;color: yellow;background-color: black;" type="submit" value="Register"> </td>
          <td style="padding:10px;color: purple;">
            <center>
          <input style="margin:10px;" type="checkbox" name="user" value="user" required> <div style="color:purple">User</div> </center></td>
        </tr>  
        </tr>
        </table>
        </form>
        </div>
        

</div>

<!-- this is middle content -->
<!--{% load static %}
<img src="{% static "map.png" %}" alt="My image">-->



</body>
</html>